<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_tgm_root" name="Telegram Bot Manager" sequence="10"/>
    <menuitem id="menu_tgm_groups" name="Groups" parent="menu_tgm_root" action="action_tgm_groups" sequence="10"/>
    <menuitem id="menu_tgm_rules" name="Rules" parent="menu_tgm_root" action="action_tgm_rules" sequence="20"/>
    <menuitem id="menu_tgm_routes" name="Routes" parent="menu_tgm_root" action="action_tgm_routes" sequence="30"/>
    <menuitem id="menu_tgm_gates" name="Gates" parent="menu_tgm_root" action="action_tgm_gates" sequence="40"/>
    <menuitem id="menu_tgm_mod_logs" name="Moderation Logs" parent="menu_tgm_root" action="action_tgm_mod_logs" sequence="50"/>
    <menuitem id="menu_tgm_action_events" name="Action Events" parent="menu_tgm_root" action="action_tgm_action_events" sequence="60"/>
    <menuitem id="menu_tgm_settings" name="Settings" parent="menu_tgm_root" action="action_tgm_settings" sequence="70"/>
</odoo>
